@{
    Layout = null;
}

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<!-- Created By MrWanderer -->
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
</head>

<body>
    <div class="wrapper">
        <div class="title">
            Login
        </div>
        <form asp-action="LogIn">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="field">
                <input type="text" id="Email" name="Email" required>
                <label for="Email">Email Address</label>
            </div>
            <div class="field">
                <input type="password" id="Password" name="Password" required>
                <label for="Password">Password</label>
            </div>
            <div class="content">
                <div class="checkbox">
                    <input type="checkbox" id="remember-me">
                    <label for="remember-me">Remember me</label>
                </div>
                <div class="pass-link">
                    <a href="" onclick="alert('This feature will be added soon!!')">Forgot password?</a>
                </div>
            </div>
            <div class="field">
                <input type="submit" name="submit" id="submit" value="LogIn" >
            </div>
            <div class="signup-link">
                Not a member? <a href="/Users/SignUpOrEdit">Signup now</a>
            </div>
        </form>
    </div>
</body>

</html>
